---
import BaseLayout from '../layouts/BaseLayout.astro'
import {Visual} from '../components/Visual'

---
<BaseLayout pageTitle="Nico Robo - Blog">
	<div class="p-6 flex items-center justify-center flex-col">
		<h1>Articles</h1>
	</div>
</BaseLayout>
