---
import BaseLayout from '../layouts/BaseLayout.astro'
import {projects} from '../data/projects'
import ProjectCard from '../components/ProjectCard.astro'
---
<BaseLayout pageTitle="Nico Robo - Projects">
	<div class="p-6 flex items-center flex-col">
        <h1>Projects</h1>
		<p>Here are some of the projects I've worked on.</p>
		<div>
			{projects.map((project) => (
				<ProjectCard project={project} />
			))}
		</div>
	</div>
</BaseLayout>
