---
import BaseLayout from '../layouts/BaseLayout.astro'
import {Visual} from '../components/Visual'

---
<BaseLayout pageTitle="Nico Robo - Projects">
	<div class="p-6 flex items-center flex-col">
        <h1>Projects</h1>
	</div>
</BaseLayout>
