---
// import Header from '../components/Header.astro';
// import Footer from '../components/Footer.astro';
import '../styles/global.css';
import Nav from '../components/Nav.astro'
const {pageTitle} = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="absolute z-20 top-0 inset-x-0 flex justify-center overflow-hidden pointer-events-none">
      <div class="w-[108rem] flex-none flex justify-end">
        <picture>
          <source srcset="https://tailwindcss.com/_next/static/media/docs-dark@30.1a9f8cbf.avif" type="image/avif">
          <img src="https://tailwindcss.com/_next/static/media/docs@tinypng.d9e4dcdc.png" alt="" class="w-[71.75rem] flex-none max-w-none" decoding="async">
        </picture>
      </div>
    </div>
    <Nav/>
    <slot/>
    <!-- <Footer /> -->
    <!-- <script>
      import "../scripts/menu.js";
    </script> -->
  </body>
</html>